<h1>Welcome, <%= @user.username %>!</h1>
<h2>Thank you for using the site!</h2>
<a href="/movies/new">Add a movie you like</a>
<p>Here are your movies you like:</p>
<%# @movies.each do |movie| %>
<%# end %>