<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spooky Movies</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="#">Signup</a>
            <a href="#">Login</a>
            <a href="#">Movies</a>
        </nav>
    </header>
    <%= yield %>
    <footer>
        Made by Michael
    </footer>
</body>
</html>