<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spooky Movies</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <header>
        <% if logged_in? %>
            <nav>
                <a href="/users/welcome">Home</a>
                <a href="#">Movies</a>
                <a href="/logout">Logout</a>
            </nav>
        <% else %>
            <h1>Spooky Movies</h1>
        <% end %>
    </header>
    <div>
        <h2><%= @error if @error.present? %></h2>
    </div>
    <%= yield %>
    <footer>
        Made by Michael
    </footer>
</body>
</html>