<div>Login page</div>
<form method="post" action="/login">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email"/>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password"/>
    </div>
    <button type="submit">login</button>
</form>