<div>Login page</div>
<form method="post" action="/login">

    <div>
        <label for="email">Email</label>
        <input type="email" name="email"/>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password"/>
    </div>
    <button type="submit">login</button>
</form>
<h1>New to the site? <a href="/signup">Sign up</a></h2>